@model AreasViewModel
<select class="form-select form-select-solid js-governorate js-select2 select2-hidden-accessible" data-placeholder="select the governorate" data-val="true" data-val-required="The GovernorateId field is required." id="GovernorateId" name="GovernorateId" data-select2-id="select2-data-GovernorateId" tabindex="-1" aria-hidden="true">
    <option value="" data-select2-id="select2-data-2-hxb5"> Select an Governorate</option>

    <option value="2">Alexandria</option>
    <option value="3">Assiut</option>
    <option value="4">Aswan</option>
    <option value="6">Bani Suef</option>
    <option value="5">Beheira</option>
    <option value="7">Cairo</option>
    <option value="9">Damietta</option>
    <option value="8">Daqahliya</option>
    <option value="10">Fayyoum</option>
    <option value="11">Gharbiya</option>
    <option value="12">Giza</option>
    <option value="13">Ismailia</option>
    <option value="14">Kafr El Sheikh</option>
    <option value="15">Luxor</option>
    <option value="16">Marsa Matrouh</option>
    <option value="17">Minya</option>
    <option value="18">Monofiya</option>
    <option value="19">New Valley</option>
    <option value="20">North Sinai</option>
    <option value="21">Port Said</option>
    <option value="22">Qalioubiya</option>
    <option value="23">Qena</option>
    <option value="24">Red Sea</option>
    <option value="25">Sharqiya</option>
    <option value="26">Sohag</option>
    <option value="27">South Sinai</option>
    <option value="28">Suez</option>
</select>