@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<div class="text-center">
    <header>
        <h1 class="text-danger">@ViewData["Title"]</h1>
        <p class="text-danger">You do not have access to this resource.</p>
    </header>
    <img src="~/assats/images/secure data-pana.svg" class="h-400px"/>
</div>