@model UserPasswordViewModel

<div class="card-body ">

    <form asp-controller="Users" asp-action="Password"
          data-ajax-method="post"
          data-ajax="true"
          data-ajax-begin="OnModelBegin"
          data-ajax-success="onModelSuccess"
          data-ajax-failure="showfailure"
          data-ajax-complete="OnModelComplete">


        <input type="hidden" asp-for="Id" />

        <div class="mb-5 ">
            <div class="form-floating mb-4">
                <input type="password" class="form-control text-light" placeholder="Password" asp-for="Password">
                <label asp-for="Password"></label>

            </div>

            <span class="text-danger d-block" asp-validation-for="Password"></span>

        </div>
        <div class="mb-5 ">
            <div class="form-floating mb-4">
                <input type="password" class="form-control text-light" placeholder="Comfirm Password" asp-for="ConfirmPassword">
                <label asp-for="ConfirmPassword"></label>

            </div>

            <span class="text-danger d-block" asp-validation-for="ConfirmPassword"></span>

        </div>
        <partial name="_ModelFooter" />
    </form>
