@model string
@{
    ViewData["Title"] = "Not Allowed Rental";
}
<div class="d-flex flex-column justify-content-center ">
    <img src="~/assats/images/bus stop-bro.svg" alt="stop" height="500" />
    <h2 class="text-center text-danger">@Model</h2>
</div>
