@model IEnumerable<Category>
@{
    ViewData["Title"] = "categories";
}
<div class="card shadow-sm">
    <div class="card-header">
        <h3 class="card-title">
            <div class="symbol symbol-40px me-2">
                <div class="symbol-label fs-2 fw-semibold ">
                    <span class="svg-icon  svg-icon-3x svg-icon-gray-500">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M3 2H10C10.6 2 11 2.4 11 3V10C11 10.6 10.6 11 10 11H3C2.4 11 2 10.6 2 10V3C2 2.4 2.4 2 3 2Z" fill="currentColor" />
                            <path opacity="0.3" d="M14 2H21C21.6 2 22 2.4 22 3V10C22 10.6 21.6 11 21 11H14C13.4 11 13 10.6 13 10V3C13 2.4 13.4 2 14 2Z" fill="currentColor" />
                            <path opacity="0.3" d="M3 13H10C10.6 13 11 13.4 11 14V21C11 21.6 10.6 22 10 22H3C2.4 22 2 21.6 2 21V14C2 13.4 2.4 13 3 13Z" fill="currentColor" />
                            <path opacity="0.3" d="M14 13H21C21.6 13 22 13.4 22 14V21C22 21.6 21.6 22 21 22H14C13.4 22 13 21.6 13 21V14C13 13.4 13.4 13 14 13Z" fill="currentColor" />
                        </svg>

                    </span>


                </div>
            </div>

            Categories
        </h3>
        <div class="card-toolbar">
            <a asp-controller="Categories" asp-action="Create" type="button" class="btn btn-sm btn-success ">
                <i class="bi bi-plus-square-fill me-3"></i>
                
                Add
            </a>
        </div>
    </div>
    <div class="card-body">
        @{
            if(!Model.Any()){
                <div class="alert alert-warning d-flex align-items-center p-5 mb-10">
                    <i class="display-4 text-warning me-3 bi bi-exclamation-octagon-fill"><span class="path1"></span><span class="path2"></span></i>                    <div class="d-flex flex-column">
                        <h4 class="mb-1 text-warning">This is an alert</h4>
                        <span>The alert component can be used to highlight certain parts of your page for higher content visibility.</span>
                    </div>
                </div>
            }
            else
            {
                
            }

        }
    </div>

</div>